@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewBag.Title = "index";
}

<h2>Check</h2>
@model Using_checkbox_to_controller.Models.User
@using (Html.BeginForm("Index", "User", FormMethod.Post))
{
    <b>Want check box by simply bound: </b>
    <br />
    <span>Tea: </span> @Html.CheckBox("Tea", true)
    <hr></hr>
    <span>  Loundry: </span> @Html.CheckBox("Loundry", false)
    <hr></hr>
    <span>  Breakfast: </span> @Html.CheckBox("Breakfast", false)
        <hr></hr>
    <b>Want check box by lamda method: </b>
    <br />
    <hr></hr>
    <span>Tea: </span> @Html.CheckBoxFor(m => m.Tea, true)
    <hr></hr>

    <span>  Loundry: </span> @Html.CheckBoxFor(m => m.Loundry, false)
        <hr></hr>
    <span>  Breakfast: </span> @Html.CheckBoxFor(m => m.Breakfast, false)

    <br />
    <hr></hr>
    <input type="submit" value="Check" />
}


<p>
    @ViewBag.Tea <br />
    @ViewBag.Loundry <br />
    @ViewBag.Breakfast

</p>

