@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="text-center">
    <h1 class="display-4">Welcome students</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h2>Students Marks</h2>
@{
    string Username = "Jayesh";
    int sub1 = 90;
    int sub2 = 80;
    int sub3 = 78;
    int total = sub1 + sub2 + sub3;
    float per = (float)(total / 300.0f) * 100.0f;

}

<p> Student Name : @Username</p>
<p> Student Marks : @total</p>
<p> Student Percentage : @per</p>


@{
    string grade = "First";
    <p>Student Grade : @grade</p>

}

<p>@DateTime.Now</p>
<p> @DateTime.IsLeapYear(2023)</p>

<p>Last Week This Time:@(DateTime.Now-TimeSpan.FromDays(7))</p>


<p>Last Week:@DateTime.Now-TimeSpan.FromDays(7)</p>
<p> @@Username</p>



<a href="mailto:Support@contoso.com">Support@contoso.com</a>

@{
    var jay = new Std("Trupti", 21);
}

<p>Age@(jay.Age)</p>
<p>Name@(jay.Name)</p>