@model IEnumerable<StudDBConnectivity.Models.StudModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudRollNo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudAge)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StudDesignation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudRollNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudAge)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StudDesignation)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
